body
{
	background-color: pink;
	margin: 0;
	padding: 0;

}
/* div
{
	width:100%;
  	height: 100vh;
  	display: flex;
  	justify-content: center;
  
} */

#m1_body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
	margin: 0;	padding: 0;
	background-image: url(img1.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#m2_body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: auto;
	margin: 0;	padding: 0;
	background-color: black;
}
#m3_body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
	margin: 0;	padding: 0;
	background-image: url(img2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.w1_msg
{
	padding: 0 10px 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
	
	color: white;
	
	mix-blend-mode: darken;
	
	-webkit-text-stroke-color: green;
	-webkit-text-stroke-width: 1px;

	background:rgba(0,0,0,1);
}
.w2_msg
{
	background-image: url(img3.jpg);
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	font-size:200px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}
.w3_msg
{
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 25%;
	font-size: 40px;
	background:rgba(255,255,255,0.6);
}